{{! Will be called with a model object }}
{{! Loaded directly in controller.js }}

<input type="input" data-key="x" value="{{x}}" />

<select data-key="operator">
	{{#each operators}}
	<option value="{{this}}" {{isSelected this ../operator}}>{{this}}</option>
	{{/each}}
</select>

<input type="input"  data-key="y" value="{{y}}" />

{{! TODO: Equal sign }}
=
{{! TODO: Result }}
<input type="input" value="{{result}}" disabled />